<div class="row">
  <section ng-model="compt">
    <section class="details">
      <h1>{{compt[whichItem].date}}</h1>
      <h2>{{compt[whichItem].role}}</h2>
      <section class="detail">
        <h4 style="line-height: 1.5em"><span style="text-decoration: underline">Tasks</span> : {{compt[whichItem].tache}}</h4>
        <h4 style="line-height: 1.5em"><span style="text-decoration: underline">Technologies</span> : {{compt[whichItem].tech}}</h4>
        <h4 style="line-height: 1.5em"><span style="text-decoration: underline">Description</span> : {{compt[whichItem].description}}</h4>
      </section>
    </section>
</section>
</div>