<div class="container">
    <div class="jumbotron">
        <div class="row">
            <img id="imgcv"
                 src="public/img/hamza.png"
                 alt="hamza"
                 class="img-responsive col-lg-3 col-md-3 col-sm-3 col-xs-3"/>

            <div class="row col-lg-5 col-md-5 col-sm-5 col-xs-5">
                <h1 id="nom">Hamza Jridi </h1>
                <h1 id="poste">Computer Engineer</h1>
                <h3 id="title">JavaScript FullStack Developer</h3>
            </div>
            <!--Informations-->
            <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4" id="info">
                <h4><span>Adress : </span>{{data.adress}}</h4>
                <h4><span>E-mail : </span>{{data["e-mail"]}}</h4>
                <h4><span>Tel : </span>{{data.tel}}</h4>
                <h4>
                    <span>Linked-In : </span>
                    <a href="https://tn.linkedin.com/in/jridihamza">JRIDI Hamza </a>
                </h4>
            </div>
        </div>
        <p class="resume">{{data.resume}}</p>
        <hr/>
        <div class="row icon">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a target="_blank" class="col-lg-3 col-md-3 col-sm-3" href="https://tn.linkedin.com/in/jridihamza">
                    <img class="icons img-responsive" src="public/img/linkedin.png" alt="linkedin"/>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a target="_blank" class="col-lg-3 col-md-3 col-sm-3"
                   href="https://plus.google.com/u/0/104875114416578682923/posts">
                    <img class="icons img-responsive" src="public/img/gmail.ico" alt="gmail"/>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a target="_blank" class="col-lg-3 col-md-3 col-sm-3" href="https://www.facebook.com/jridi.hamza.94">
                    <img class="icons img-responsive" src="public/img/fb.png" alt="facebook"/>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a target="_blank" class="col-lg-3 col-md-3 col-sm-3" href="https://github.com/HamzaJridi">
                    <img class="icons img-responsive" src="public/img/github2.png" alt="github"/>
                </a>
            </div>
        </div>
        <hr/>
    </div>
</div>
<hr/>