<div class="row">
    <!-- <section class="details">
         <div>
            <h3>{{compt[0].date}}</h3>
             <h2>{{compt[0].role}}</h2>
             <a href="#1"><button type="button" class="btn btn-info" style="float: inherit">Details</button></a>
         </div>
     </section>

     <section class="details">
         <div>
             <h3>{{compt[1].date}}</h3>
             <h2>{{compt[1].role}}</h2>
             <a href="#2"><button type="button" class="btn btn-info" style="float: inherit">Details</button></a>
         </div>
     </section>-->

    <ul>
        <li class="details" ng-repeat="item in compt">
            <div>
                <h3>{{item.date}}</h3>
                <h2>{{item.role}}</h2>
            </div>
            <a href="#/experiences/{{compt.indexOf(item)}}"><button type="button" class="btn btn-info" style="float: inherit">Details</button></a>
        </li>
    </ul>






</div>
