<div class="row">
  <div class="col-xs-4">
    <section class="skills col-xs-12">
      <h3 style="color: #6e2890">*Programming Languages</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[0]['Langage de programation']">{{i}}</li>
      </ul>
    </section>
    <section class="skills col-xs-12">
      <h3 style="color: #6e2890">*DataBasesMS</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[5]['database']">{{i}}</li>
      </ul>
    </section>
  </div>
  <div class="col-xs-4">
    <section class="skills col-xs-12">
      <h3 style="color: #6e2890">*Web Technologies</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[1]['webTechs']">{{i}}</li>
      </ul>
    </section>
    <section class="skills col-xs-12">
      <h3 style="color: #6e2890">*Frameworks</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[3]['Framework']">{{i}}</li>
      </ul>
    </section>
  </div>
  <div class="col-xs-4">
    <section class="skills col-xs-4">
      <h3 style="color: #6e2890">*Embedded Systems</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[2]['Systèmes embarqués']">{{i}}</li>
      </ul>
    </section>
    <section class="skills col-xs-4">
      <h3 style="color: #6e2890">*General Knowledge</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[4]['Connaissances']">{{i}}</li>
      </ul>
    </section>
    <section class="skills col-xs-4">
      <h3 style="color: #6e2890">*Languages</h3>
      <ul class="compt">
        <li ng-repeat="i in skill[6]['Langues']">{{i}}</li>
      </ul>
    </section>
  </div>
</div>