<div class="row">
    <section class="skills col-lg-4 col-md-4 col-sm-4">
        <h3>*Langages de programation</h3>
        <ul class="compt">
            <li ng-repeat="i in skill[0]['Langage de programation']">{{i}}</li>
        </ul>
    </section>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <section class="skills">
            <h3>*Systèmes embarqués</h3>
            <ul class="compt">
                <li ng-repeat="i in skill[1]['Systèmes embarqués']">{{i}}</li>
            </ul>
        </section>

        <section class="skills">
            <h3>*Framework</h3>
            <ul class="compt">
                <li ng-repeat="i in skill[2]['Framework']">{{i}}</li>
            </ul>
        </section>

        <section class="skills">
            <h3>*Langage de modélisation</h3>
            <ul class="compt">
                <li ng-repeat="i in skill[3]['Langage de modélisation']">{{i}}</li>
            </ul>
        </section>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
        <section class="skills">
            <h3>*Connaissances</h3>
            <ul class="compt">
                <li ng-repeat="i in skill[4]['Connaissances']">{{i}}</li>
            </ul>
        </section>

        <section class="skills">
            <h3>*Langues</h3>
            <ul class="compt">
                <li ng-repeat="i in skill[5]['Langues']">{{i}}</li>
            </ul>
        </section>
    </div>
</div>